<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Brokerage"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".ui.agentnearby.AgentNearby"
            android:exported="false" />
        <activity
            android:name=".ui.agentstatus.AgentStatus"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".ui.propertylisting.PropertyListingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.call2.Call2"
            android:exported="false" />
        <activity
            android:name=".ui.call1.Call1"
            android:exported="false" />
        <activity
            android:name=".ui.messagebox.MessageBox"
            android:exported="false" />
        <activity
            android:name=".ui.messagelist.MessageList"
            android:exported="false" />
        <activity
            android:name=".ui.propertydirection.PropertyDirection"
            android:exported="false" />
        <activity
            android:name=".ui.filter.filter"
            android:exported="false" />
        <activity
            android:name=".ui.gallery.gallery"
            android:exported="false" />
        <activity
            android:name=".ui.agentDashboard.AgentDashboard"
            android:exported="true">

        </activity>

        <activity
            android:name=".ui.newmeetingpopup.New_Meeting_Popup"
            android:exported="false" />

        <activity
            android:name=".ui.passwordchanged.PasswordChanged"
            android:exported="false" />
        <activity
            android:name=".ui.createNewPassword.CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".ui.userhome.user_home"
            android:exported="false"/>

        <activity
            android:name=".ui.brokerDashboard.BrokerDashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.meetings.meetings"
            android:exported="false" />

        <activity
            android:name=".ui.meeting_schedule.meeting_schedule"
            android:exported="true" >

    </activity>
        <activity
            android:name=".ui.bid.BidActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reviews.reviews"
            android:exported="false" />
        <activity
            android:name=".ui.property_details.property_details"
            android:exported="false" />

        <activity
            android:name=".ui.otpvalidation.OTPvalidation"
            android:exported="false" />
        <activity
            android:name=".ui.forgotPassword.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.signin.SignIn"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignUp"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>